/* ---------------------------------------------------------------------------------------
                                        MY CSS
--------------------------------------------------------------------------------------- */

/*-------------------------------------------------------------------------------------------- 
                                        Global part 
-------------------------------------------------------------------------------------------- */

:root {
    --size-btn: 9rem;
    --color-footer: #212528;


    /* -------- Linear gradiant nav ---- */
    --bg-gradiant-gray-transparent: linear-gradient(45deg, #000000a6, transparent), linear-gradient(45deg, transparent, #000000c4);
    /* -------- Linear gradiant ---- */

    --bg-gradiant-gray: linear-gradient(45deg, #000000a6, transparent), linear-gradient(45deg, transparent, #000000c4);

    --bg-gradiant-redYellowBleu: linear-gradient(315deg, rgba(14, 0, 255, 0.738532913165266) 0%, rgba(243, 255, 0, 0.7441351540616247) 51%, rgba(255, 0, 0, 0.6909138655462185) 100%)
}

@font-face {
    font-family: "UbuntuMedium";
    src: url('./fonts/Ubuntu/Ubuntu-Medium.woff') format('woff'),
        url('./fonts/Ubuntu/Ubuntu-Medium.ttf') format('truetype');
}

@font-face {
    font-family: "UbuntuRegular";
    src: url('./fonts/Ubuntu/Ubuntu-Regular.woff') format('woff'),
        url('./fonts/Ubuntu/Ubuntu-Regular.ttf') format('truetype');
}

@font-face {
    font-family: "UbuntuLight";
    src: url('./fonts/Ubuntu/Ubuntu-Light.woff') format('woff'),
        url('./fonts/Ubuntu/Ubuntu-Light.ttf') format('truetype');
}

@font-face {
    font-family: "UbuntuLightItalic";
    src: url('./fonts/Ubuntu/Ubuntu-LightItalic.woff') format('woff'),
        url('./fonts/Ubuntu/Ubuntu-LightItalic.ttf') format('truetype');
}

p {
    font-family: UbuntuLight, "Trebuchet MS", Verdana, sans-serif;
    font-size: large;
}

/* -------- Title -------- */


h1,
h2,
h3,
h4 {
    font-family: Helvetica, sans-serif, monospace;
    margin: 1.5rem;
}

h2 {
    text-align: center;
    margin: 0;
}

.title-section {
    color: snow;
    padding: 1.5rem;
    text-shadow: 0px 0px 5px black;
}

.div-title {
    /* background: linear-gradient(45deg, #000000a6, transparent), linear-gradient(45deg, transparent, #000000c4); */
    /* background: var(--bg-gradiant-redYellowBleu); */
    background: var(--bg-gradiant-gray);

}



/* ------------------------------ Liste ------------------------------ */


li {
    font-size: large;
}

.scale:hover {
    transform: scale(1.1);
    transition: .30s ease-in-out;
}

a:hover {
    cursor: pointer;
    color: inherit;
}


.space {
    height: 10vh;
}


.btn-up {
    position: fixed;
    bottom: 5%;
    right: 3%;
}
.div-border{
    border: 1px solid #8986863d;
}
/* ------------------------------ Show on scroll ------------------------------*/


.reveal [class*="reveal-"] {
    opacity: 0;
    transform: translateY(30px);

}

[class*="reveal-"] {
    /*opacity: 1;
    
    transform: translateY(0);*/
    transition: .3s cubic-bezier(.5, 0, 0, 1);

}

.reveal-1 {
    transition-delay: .2s;
}

.reveal-2 {
    transition-delay: .3s;
}

.reveal-3 {
    transition-delay: .5s;
}

.reveal-4 {
    transition-delay: .6s;
}

/*-------------------------------------------------------------------------------------------- 
                                        Global part end
-------------------------------------------------------------------------------------------- */

/* ---------------------------------------------------------------------------------------
                                        Présentation
--------------------------------------------------------------------------------------- */
.section-presentation {
    display: flex;
    align-items: center;
    background-color: #ffc0cb3b;
    height: 70vh;
    padding: 1.5rem;
}



/* ---------------------------------------------------------------------------------------
                                        Section Skills
--------------------------------------------------------------------------------------- */
.container-flex-skill {
    display: flex;
    /* width: 60%; */
    align-content: center;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    /* height: 16rem; */
    /* height: 25vh; */
}

.shadow-box {
    box-shadow: 0 0 5px 2px #8986863d;
    border: 1px solid #8986863d;
}

.title-competence>p {
    margin: 1.5rem;
    font-family: UbuntuLightItalic, sans-serif;
}

.flex-col-reverse-end {
    /* position: relative;
    left: 80%; */
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: flex-end;

}

.imgskill {
    /* background-image: url(../code.jpg); */
    /* background-attachment: fixed; */
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-color: rgba(128, 128, 128, 0.534);
}

/*--------------- Progress --------------*/
.skillProgress {

    height: 2.5rem;
    width: 33vh;
    background-color: grey;
}



/* Other Tools part  */
.list-group-item {
    background-color: inherit;
    color: inherit;
    border-color: inherit;
}

/* ---------------------------------------------------------------------------------------
                                        Section Formations 
--------------------------------------------------------------------------------------- */

.banner-deco {
    background-image: url('../../img/learn-3653430_1920.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 40vh;
    filter: brightness(.8);
    margin: 4rem auto;
}



/* ---------------------------------------------------------------------------------------
                                        Section Réalisation
--------------------------------------------------------------------------------------- */


.flex-wrap-container {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    width: 80%;
}

.div-card-achiev {
    width: 30%;
    height: 100%;
    /* box-shadow: 0 0 3px 2px rgba(141, 141, 141, 0.575); */
    margin: .5rem;
    
}

.card-achiev {
    width: 100%;
    /* height: 100%; */
    /* background-image: url('../../img/noir.jpg'); */
    /* cursor: pointer; */
    position: relative;
    overflow: hidden;
    text-align: center;
}

.card-achiev .fadedbox {
    background-color: #666666;
    position: absolute;
    top: 0;
    left: 0;
    color: #fff;
    -webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
    -ms-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
    opacity: 0;
    width: 100%;
    /* height: 91.5%; */
    height: 100%;
    border-radius: .375rem;
    padding: 1rem;
}

.card-achiev:hover .fadedbox {
    opacity: 0.8;
}

.card-achiev .card-body-achiev {
    -webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
    -ms-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
    transform: translateY(30px);
    -webkit-transform: translateY(30px);
}

.title-fade {
    font-size: xx-large;
    opacity: 0;
    transition-delay: 0.2s;
    transition-duration: 0.3s;
    margin-top: 2rem;
    /* text-shadow: 0px 0px 4px white, 0px 0px 9px black; */
}

.btn-card{
    text-decoration: auto;
    color: snow;
    padding: 0.6rem 1.2rem;
    border-radius: 1.2rem;
    background-color: #0d6efd;
    box-shadow: 0 0 3px 2px rgb(44 44 44 / 78%), 0 0 3px 2px rgba(141, 141, 141, 0.575);
}

.card-achiev:hover .title-fade,
.card-achiev:focus .title-fade {
    opacity: 1;
    transform: translateY(10px);
    -webkit-transform: translateY(10px);
}

.card-achiev:hover .card-body-achiev,
.card-achiev:focus .card-body-achiev {
    transform: translateY(20px);
    -webkit-transform: translateY(20px);
}



/* --------------------------------------------------------------------------------------------- */
/* --------------------------------------------------------------------------------------------- */


.div-uml {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    grid-template-areas:
        "entity class object"
        "entity img object"
        "activity img useCase"
        "activity sequense useCase";

    margin: 2rem auto;
    padding: 2rem;
    width: inherit;

}

.object {
    grid-area: object;
    padding: 1rem;
    box-shadow: 2px -2px 3px 3px #7c7c7c69;
    border-radius: 50% 50% 50% 0;
}

.class {
    grid-area: class;
    padding: 1rem;
    border-radius: 50%;
    box-shadow: 0px -3px 4px 3px #7c7c7c69;
}

.useCase {
    grid-area: useCase;
    padding: 1rem;
    box-shadow: 2px 1px 3px 3px #7c7c7c69;
    border-radius: 0% 50% 50% 50%;
}

.img {
    grid-area: img;
    padding: 1rem;

    /* border: 1px solid #7c7c7c69; */
}

.sequense {
    grid-area: sequense;
    padding: 1rem;
    border-radius: 50%;
    box-shadow: 0px 3px 4px 3px #7c7c7c69;
}

.activity {
    grid-area: activity;
    padding: 1rem;
    box-shadow: -1px 1px 3px 3px #7c7c7c69;
    border-radius: 50% 0% 50% 50%;
    ;
}


.entity {
    grid-area: entity;
    padding: 1rem;

    box-shadow: -1px -2px 3px 3px #7c7c7c69;
    border-radius: 50% 50% 0 50%;
}

/* --------------------------------------------------------------------------------------------- */



/* ---------------------------------------------------------------------------------------
                                        Details
--------------------------------------------------------------------------------------- */

details {
    border: 1px solid #aaa;
    box-shadow: 0 0 4px 4px #0909091c;
    border-radius: 4px;
    padding: .5em .5em 0;
}

summary {
    font-weight: bold;
    margin: -.5em -.5em 0;
    padding: .5em;
}

details[open] {
    padding: .5em;
}

/* ---------------------------------------------------------------------------------------
                                        End page index
--------------------------------------------------------------------------------------- */

/* ---------------------------------------------------------------------------------------
                                        Page contact (Carte de visite)
--------------------------------------------------------------------------------------- */




/*------------------ part main --------------------- */
.main-contact {
    /* background-image: url(../../img/httpWord_fond.jpg); */
    background-image: url(../../img/contact_fond.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    /* height: 80vh; */
    height: 120%;
    width: 100%;

}

.title-contact {
    text-shadow: 0px 0px 3px white;
}


.article-business-card {
    width: 100%;
    /* height: 100%; */
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 16%;
}

.div-business-card {
    width: 90%;
    /* max-width: 440px; */
    max-width: 26%;
    /* max-width: 26vw; */
    color: aliceblue;
    text-align: center;
    padding: 3rem;
    border: 1px solid rgba(255, 255, 255, .3);
    border-radius: 1rem;
    /* background-color: var(--color-footer); */
    background-color: #3e3633;
    transform-style: preserve-3d;
    transform: perspective(1000px);

}

.div-body-business-card {

    /* transform: translateZ(40px); */
    /* border: 10px solid white; */
    border-radius: 1rem;
    transform: translateZ(50px);

}

.div-body-business-card:hover {
    box-shadow: 0 0 2px 2px rgba(133, 133, 133, 0.438);

}

.img-profil-contact {
    width: 100%;
    border-radius: 50%;
    box-shadow: 0 0 3px 2px #7474749c;
}

.div-link-contact {
    text-align: center;
    /* background-color: aliceblue; */
    width: 30vw;
    padding: 1rem;
    -moz-transform: skew(-25deg, 25deg);
    -webkit-transform: skew(-25deg, 25deg);
    -o-transform: skew(-25deg, 25deg);
    -ms-transform: skew(-25deg, 25deg);
    transform: skew(-25deg, 25deg);
    margin: 1.5rem;
}

.div-link-contact a {
    display: block;
    margin: 1rem auto;
    padding: 2rem;
    text-decoration: none;
    width: 70%;
}



.business-card-div-link {
    transform: translateZ(50px);
}


.btn-contact {
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    font-weight: 700;
    /* background: var(--color-footer); */

    color: snow;
    border: 1px solid white;
    box-shadow: 0 0 3px 2px #81818169;
    border-radius: 2rem;
    /* border: 4mm ridge gray; */
    margin: 2rem auto;
    padding: 1rem;
}

.btn-contact:hover {
    background-color: #21252840;
    color: snow;
    text-decoration: underline;

}




/* ---------------------------------------------------------------------------------------
                                        Page 404
--------------------------------------------------------------------------------------- */
.txt-404 {
    align-items: center;
    display: flex;
    flex-direction: column;

    justify-content: center;
}


/* ---------------------------------------------------------------------------------------
                                        Media
--------------------------------------------------------------------------------------- */

/*--------- inférieure à 1250px -------------*/
/* @media (max-width: 1250px) {

} */


/*--------- inférieure à 460px -------------*/
@media (max-width: 460px) {



    .banner-deco {
        background-image: url('../../img/learn-3653430_1920.jpg');
        background-attachment: scroll;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        height: 10vh;
        filter: brightness(.8);
    }

    .flex-wrap-container {
        flex-direction: column;
    }

}

/* @media (hover: hover) {
    .card-achiev {
        display: none;
    }
} */

@media (min-width: 900px) and (max-width: 1355px) {

    .card-achiev .fadedbox {
        padding: 0;
    }

    .fadedbox {
        padding: auto;
    }


    .card-achiev .title-fade {
        font-size: auto;
        margin: auto;
        color: green;
    }

    .card-body-achiev>p {
        font-size: auto;
    }

}

@media(width <=800px) {
    .section-presentation {

        height: auto;
    }

    .main-contact {

        background-image: url(../../img/contact_fond.jpg);
        background-position: right center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 154vh;
        /* height: 120%;
        width: 100%; */
    }

    .div-link-contact {
        display: contents;
    }

    .article-business-card {
        /* flex-direction: column; */
        display: block;
        width: 100%;
    }

    .div-business-card {
        max-width: 100%;
        margin: auto;
    }

    .div-link-contact a {
        color: black;
    }


}

@media(width <=920px) {
    .div-card-achiev {
        width: 100%;
        height: auto;
        margin: auto;
    }

    .card-achiev .fadedbox {
        opacity: 1;
    }

    .card-achiev .title-fade {
        opacity: 1;
        margin: auto;
        /* font-size: xxx-large; */
        /* color: red; */
    }
    /* .card-body-achiev p{
        color: red;
        font-size: x-large;
    } */
}

/* ----------CSS footer ----------------------*/